<% include ../partials/header %>
<script>

function enableEdit(id){
    var comment = document.getElementById(id);
    comment.disabled = false;
    console.log(id);
    
    var btn = document.querySelectorAll("#btn"+id);
    for (let i = 0; i < 2; i++) {
        if (btn[i].textContent == "Edit")
            btn[i].style.display = 'none';
        else if (btn[i].textContent == "Save")
            btn[i].style.display = 'block';
    }
}

function editComment(url,id){
    var input = document.getElementById(id);
    console.log(id);
    console.log(input);
    
    
    input.disabled = true;
    var value = input.value;

    var data = {
        text: value
    };
    console.log(data);

    $.post(url, data, function (res, status) {
        console.log(res);
    });
    
    var btn = document.querySelectorAll("#btn" + id);
    for(let i=0;i<2;i++){
    if(btn[i].textContent == "Save")
    btn[i].style.display = 'none';
    else if (btn[i].textContent == "Edit")
    btn[i].style.display = 'block';
    }
    
}

</script>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Blogging Site</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 1</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail" id="margin10">
                <img class="img-responsive" src="<%= blog.image %>" alt="">
                <div class="caption-full">
                    <h4><a href=""><%= blog.name %></a></h4>
                    <p><%= blog.description%></p>
                    <p>
                        <em><strong>-</strong> By <%= blog.author.username %></em>
                    </p>
                    <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-sm btn-warning" href="/blogs/<%= blog._id %>/edit">Edit blog</a>
                    <form id="delete-form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="bg-light">
                <div class="text-right">
                    <a class="m-3 btn btn-success" href="/blogs/<%= blog._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% blog.comments.forEach(function(comment){ %>
                <div class="m-2 row">
                    <div class="col-md-12">
                        <b><%= comment.author.username %></b>
                        <span class="float-right">10 days ago</span>
                        <!-- <p>
                            <%= comment.text %>
                        </p> -->

                        <div class="form-group">
                            <input class="form-control" onfocusout="editComment('/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=PUT','<%= comment._id %>')" id="<%= comment._id %>" type="text" name="comment[text]" value='<%= comment.text%>' required disabled>
                        </div>

                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <!-- <a class="btn btn-sm btn-warning"
                            href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit">
                            Edit
                        </a> -->
                        <button class="btn btn-sm btn-warning" id="<%= 'btn'+comment._id %>"
                            onclick="enableEdit('<%= comment._id %>')">
                            Edit
                        </button>
                        <button class="btn btn-sm btn-success" id="<%= 'btn'+comment._id %>" style="display:none" onclick="editComment('/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=PUT','<%= comment._id %>')">
                            Save
                        </button>

                        <form id="delete-form"
                            action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <a href="/blogs">Go Back</a>
</div>

<% include ../partials/footer %>